.Container {
    display: flex;
    flex-direction: row;
}

.Cart {
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    width: 70%;

    &__cartItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px;
        margin-bottom: 20px;

        &__img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

    }
    
    &__cardItem {
        display: flex;
        flex: 1;
        padding: 0 20px;
        flex-direction: column;

    }

    
}
.Summary {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;

    &__total {
        font-weight: 700;
        font-size: 20;
    }

    &__button {
        width: fit-content;
        margin: 20px 0;
    }
}
