.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFD66;
    padding: 10px 20px;

    &__img {
        width: 100px;
    }
    &__cartDiv {
        width: 100px;
    }
}